apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: gin-tattoo-hpa
  namespace: homolog
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: gin-tattoo
  minReplicas: 1
  maxReplicas: 3
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
